@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Belleza', sans-serif;
}

	
.header .logo img {
    height: 7rem;
    
}

.header {
    background-color: #4F94D4 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 2rem 2%;
    border-radius: 30rem;
    box-shadow: 0 0 17px -2px black;
    
   
}

.header .navbar a { 
    background: center;
    margin: 0 4rem;
    font-size: 1.6rem;
    border-bottom: 0.3rem solid transparent;

}

.header .navbar .active,
.header .navbar a:hover {
    border-color:#fdfbfb75;
    padding-bottom: 0.3rem;
}

.b {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 140px;

	
}


nav li {
    display: inline-block;
    margin-right: 20px;
	
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    
}

a:hover, a:active {
    font-size: larger;
    color: black;
}

section {
    padding: 20px;
}

   
.trends {
 
  margin: 20px auto;
}

.trends img:hover {
    transform: scale(1.1); 
}
  
h2{
	padding: 10px;
	height:10px;
}

button {
    padding: 9px 25px;
    background-color:#4F94D4;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}	

.c {
  display: flex;
}

.i {
  width: 400px; 
  margin: 10px; 
  margin-right:8px;
}

.i img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;    
}

.m {
	height:5px;
	font-size:13px;
	color: #4F94D4;
	
}
.i  {
	
	font-size:15px;
	font-weight: bold;
	
	
}
.n {
	font-size:12px;	
}

footer {
    background-color:#4F94D4 ;
    color:white ;
    text-align: center;
    padding: 10px;
    position: flex;
    bottom: 0;
    width: 100%;
}
.socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1px  3px 0;
      }
.socials li{
        margin: 0 10px;
      }
.socials a{
        text-decoration: none;
        color: white;
      }
.socials a i{
        font-size: 1.1rem;
      }


	
